<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script th:src="@{js/script.js}"></script>
    <title>Integrantes Atuais</title>
</head>
<body>
    <header class="header">
        <img th:src="@{img/logo-hybrid-theory.png}" class="header__logo" alt="Logo do álbum Hybrid Theory da banda de rock Linkin Park">
        <h1 class="header__title">Integrantes: Composição Atual</h1>
        <div class="header-nav">
            <nav class="navbar">
                <ul class="navbar__list">
                    <li><a th:href="@{/}" title="Página Inicial" class="navbar__link">Home</a></li>
                    <li><a th:href="@{musicas}" title="Músicas" class="navbar__link">Músicas</a></li>
                    <li><a th:href="@{integrantes_originais}" title="Integrantes Originais" class="navbar__link">Originais</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="navbar__link">Minha Conta</a>
                        <div class="dropdown__content">
                            <div th:if="${session.usuarioLogado == null}">
                                <a th:href="@{/form_user}" class="dropdown__link">Cadastrar</a>
                                <a th:href="@{/login}" class="dropdown__link">Fazer Login</a>
                            </div>
                            <div th:if="${session.usuarioLogado != null}">
                                <a th:href="@{/perfil}" class="dropdown__link">Ver Perfil</a>
                                <a th:href="@{/logout}" style="color: #ff4d4d;" class="dropdown__link">Sair</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="content-integrantes-atuais">
           
            <h1>Breve História dos Integrantes da Banda - Composição Atual</h1>

            <img th:src="@{img/linkin-park-from-zero.png}" class="img-elenco-home" alt="Imagem da composição atual da banda de rock Linkin Park">
            
            <section class="content-section">
                <p>
                    Com a saída do baterista e vocal de apoio Rob Bourdon em 2017 e o falecimento do vocalista Chester Bennington no mesmo ano, a banda Linkin Park entrou em hiato.
                </p>

                <p>
                    Em 2023, a banda retornou com relançamentos de faixas de antigos álbuns e com músicas inéditas. Então, em 2024, teve a grande volta da banda, lançando o álbum From Zero e com dois novos integrantes: Emily Armstrong e Colin Brittain.
                </p>
            </section>

            <section class="content-section">
                <h2>Emily Armstrong</h2>

                <p>
                    Emily Armstrong é uma cantora e compositora norte-americana, nascida em Los Angeles, Califórnia, em 6 de maio de 1986.  Conhecida como a "Janis Joplin da era do arena rock", ela é co-fundadora da banda Dead Sara, formada em 2002 sob o nome inicial de Epiphany.  Desde cedo, demonstrou paixão pela música: começou a compor e tocar guitarra aos 11 anos e a cantar aos 15, abandonando o ensino médio para se dedicar integralmente à carreira.
                </p>

                <p>
                    Seu trabalho com Dead Sara incluiu o lançamento de quatro álbuns e três EPs, com destaque para o álbum de estreia homônimo em 2012, que trouxe o sucesso do single "Weatherman".  A banda também ganhou destaque por versões elogiadas de músicas como "Heart-Shaped Box" do Nirvana.  Além disso, Armstrong cofundou o selo indie Pocket Kid Records em 2010. 
                </p>

                <p>
                   Em setembro de 2024, foi anunciada como nova vocalista principal do Linkin Park, assumindo o posto deixado por Chester Bennington após sua morte em 2017.  A estreia ocorreu durante um evento ao vivo, com a apresentação e lançamento do single "The Emptiness Machine", principal faixa do álbum From Zero, lançado em 15 de novembro de 2024.
                </p>
            </section>

            <section class="content-section">
                <h2>Colin Brittain</h2>

            <p>
                Colin Brittain, nascido como Colin Cunningham em 29 de dezembro de 1986, em Pensacola, Flórida, é um músico, compositor, produtor e multi-instrumentista americano, conhecido principalmente como o novo baterista e co-produtor do Linkin Park, anunciado em setembro de 2024.  Criado em Nashville, Tennessee, ele foi exposto à música desde cedo, com seu pai em uma banda de country, o que influenciou seu desenvolvimento artístico. Aos 15 anos, começou a produzir música, inspirado por bandas como Rage Against The Machine, Nirvana e Blink-182. 
            </p>

            <p>
                Antes de se destacar no Linkin Park, Brittain foi baterista da banda Oh No Fiasco, que lançou o EP No One's Gotta Know em 2013.  Também atuou como produtor, compositor e músico em projetos com artistas como Papa Roach, 5 Seconds of Summer, One OK Rock, All Time Low, Dashboard Confessional e Avicii, onde tocou guitarra no hit "The Nights".  Sua carreira como produtor foi consolidada com créditos em álbuns de sucesso, incluindo Crooked Teeth (Papa Roach) e Ambitions (One OK Rock). 
            </p>

            <p>
                Sua chegada ao Linkin Park ocorreu após uma colaboração contínua com Mike Shinoda desde 2021.  Com a saída de Rob Bourdon, Brittain foi escolhido para assumir a bateria e atuar como co-produtor no novo álbum da banda, From Zero, lançado em 15 de novembro de 2024, com o single "The Emptiness Machine".  Ele é conhecido por sua abordagem colaborativa, habilidades em múltiplos instrumentos (bateria, guitarra, teclado, baixo) e talento para unir elementos tradicionais do rock com produção moderna. 
            </p>
        </section>
    </main>

    <a href="#" class="voltar--button" title="Voltar ao topo" onclick="scrollToTop(event)">↑</a>

    <footer id="footer">
        <p>Projeto acadêmico - Desenvolvimento para Servidores II | Fatec Rubens Lara | Sistemas para Internet</p>
        <p>Feito por: Kauê de Oliveira Martins © 2026</p>
    </footer>
</body>
</html>
